<h1>About page</h1>

<p>This is about page</p>
<button ng-click="aboutClick()" style="margin: 5px;">Click me</button>

<b>{{ about }}</b>


<nav>
    <a ui-sref='directive'>Directive</a>
    <a ui-sref='component'>Component</a>
    <a ui-sref='service'>Service</a>
    <a ui-sref='factory'>Factory</a>
</nav>

<div ui-view></div>