<h1>Form page</h1>

<p>This is form page</p>

<form ng-submit='formSubmit()'>
    <label>Name:</label> <input type="text" ng-model="name" placeholder="Enter your name">
    <input type="submit" value="log">
</form>