html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #afa5ff;
}
nav a {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}
nav a.active {
    color: #ffffff;
}
nav a:hover {
    color: #ffffff;
}
.layout {
    height: 100%;
}
.panels {
    position: relative;
    border: #dff3ff solid 1px;
}
.header-panel {
}
.content-panel {
}